<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>L13.1</display-name>
    <description>War file</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>ru.otus.l131.servlet.AuthenticationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/authentication.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CacheServlet</servlet-name>
        <servlet-class>ru.otus.l131.servlet.CacheServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CacheServlet</servlet-name>
        <url-pattern>/dataFromCache.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>